<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.robotemi.permission.MAP" />
    <uses-permission android:name="com.robotemi.permission.LOCATIONS" />
    <uses-permission android:name="com.robotemi.permission.SETTINGS" />
    <uses-permission android:name="com.robotemi.permission.NAVIGATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"> <meta-data android:name="com.robotemi.sdk.metadata.SKU" android:value="v1" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleInstance"
            android:showOnLockScreen="true"
            android:alwaysRetainTaskState="true"
            android:keepScreenOn="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="com.robotemi.intent.category.SKILL" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="com.robotemi.sdk.metadata.SKILL"
                android:value="Temi Beverage Delivery" />

        </activity>
    </application>
</manifest>